.ui.input.valid > input {
    background-color: #f6fff6;
    border-color: #86e08a;
    color: #379f4b;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui.input.valid > input::-webkit-input-placeholder {
    color: #bce7ad
}

.ui.input.valid > input::-moz-placeholder {
    color: #bce7ad
}

.ui.input.valid > input:-ms-input-placeholder {
    color: #bce7ad !important
}

.ui.input.valid > input:focus::-webkit-input-placeholder {
    color: #7eda7e
}

.ui.input.valid > input:focus::-moz-placeholder {
    color: #7eda7e
}

.ui.input.valid > input:focus:-ms-input-placeholder {
    color: #7eda7e !important
}

.ui.form .field.valid .input, .ui.form .field.valid label, .ui.form .fields.valid .field .input, .ui.form .fields.valid .field label {
    color: #379f4b
}

.ui.form .field.valid .corner.label, .ui.form .fields.valid .field .corner.label {
    border-color: #379f4b;
    color: #fff
}

.ui.form .field.valid input:not([type]), .ui.form .field.valid input[type=date], .ui.form .field.valid input[type=datetime-local], .ui.form .field.valid input[type=email], .ui.form .field.valid input[type=file], .ui.form .field.valid input[type=number], .ui.form .field.valid input[type=password], .ui.form .field.valid input[type=search], .ui.form .field.valid input[type=tel], .ui.form .field.valid input[type=text], .ui.form .field.valid input[type=time], .ui.form .field.valid input[type=url], .ui.form .field.valid select, .ui.form .field.valid textarea, .ui.form .fields.valid .field input:not([type]), .ui.form .fields.valid .field input[type=date], .ui.form .fields.valid .field input[type=datetime-local], .ui.form .fields.valid .field input[type=email], .ui.form .fields.valid .field input[type=file], .ui.form .fields.valid .field input[type=number], .ui.form .fields.valid .field input[type=password], .ui.form .fields.valid .field input[type=search], .ui.form .fields.valid .field input[type=tel], .ui.form .fields.valid .field input[type=text], .ui.form .fields.valid .field input[type=time], .ui.form .fields.valid .field input[type=url], .ui.form .fields.valid .field select, .ui.form .fields.valid .field textarea {
    background: #C7E7C4;
    border-color: #86e08a;
    color: #379f4b;
    border-radius: "";
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui.form .field.valid input:not([type]):focus, .ui.form .field.valid input[type=date]:focus, .ui.form .field.valid input[type=datetime-local]:focus, .ui.form .field.valid input[type=email]:focus, .ui.form .field.valid input[type=file]:focus, .ui.form .field.valid input[type=number]:focus, .ui.form .field.valid input[type=password]:focus, .ui.form .field.valid input[type=search]:focus, .ui.form .field.valid input[type=tel]:focus, .ui.form .field.valid input[type=text]:focus, .ui.form .field.valid input[type=time]:focus, .ui.form .field.valid input[type=url]:focus, .ui.form .field.valid select:focus, .ui.form .field.valid textarea:focus {
    background: #C7E7C4;
    border-color: #86e08a;
    color: #379f4b;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui.form .field.valid select {
    -webkit-appearance: menulist-button
}

.ui.form .field.valid .ui.dropdown, .ui.form .field.valid .ui.dropdown .item, .ui.form .field.valid .ui.dropdown .text, .ui.form .fields.valid .field .ui.dropdown, .ui.form .fields.valid .field .ui.dropdown .item {
    background: #C7E7C4;
    color: #379f4b
}

.ui.form .field.valid .ui.dropdown, .ui.form .fields.valid .field .ui.dropdown {
    border-color: #86e08a !important
}

.ui.form .field.valid .ui.dropdown:hover, .ui.form .fields.valid .field .ui.dropdown:hover {
    border-color: #86e08a !important
}

.ui.form .field.valid .ui.dropdown:hover .menu, .ui.form .fields.valid .field .ui.dropdown:hover .menu {
    border-color: #86e08a
}

.ui.form .field.valid .ui.multiple.selection.dropdown > .label, .ui.form .fields.valid .field .ui.multiple.selection.dropdown > .label {
    background-color: #bce7ad;
    color: #379f4b
}

.ui.form .field.valid .ui.dropdown .menu .item:hover, .ui.form .fields.valid .field .ui.dropdown .menu .item:hover {
    background-color: #B5E7AF
}

.ui.form .field.valid .ui.dropdown .menu .selected.item, .ui.form .fields.valid .field .ui.dropdown .menu .selected.item {
    background-color: #B5E7AF
}

.ui.form .field.valid .ui.dropdown .menu .active.item, .ui.form .fields.valid .field .ui.dropdown .menu .active.item {
    background-color: #BBFDC1 !important
}

.ui.form .field.valid .checkbox:not(.toggle):not(.slider) .box, .ui.form .field.valid .checkbox:not(.toggle):not(.slider) label, .ui.form .fields.valid .field .checkbox:not(.toggle):not(.slider) .box, .ui.form .fields.valid .field .checkbox:not(.toggle):not(.slider) label {
    color: #379f4b
}

.ui.form .field.valid .checkbox:not(.toggle):not(.slider) .box:before, .ui.form .field.valid .checkbox:not(.toggle):not(.slider) label:before, .ui.form .fields.valid .field .checkbox:not(.toggle):not(.slider) .box:before, .ui.form .fields.valid .field .checkbox:not(.toggle):not(.slider) label:before {
    background: #C7E7C4;
    border-color: #86e08a
}

.ui.form .field.valid .checkbox .box:after, .ui.form .field.valid .checkbox label:after, .ui.form .fields.valid .field .checkbox .box:after, .ui.form .fields.valid .field .checkbox label:after {
    color: #379f4b
}
